
<ion-content fullscreen>
    <img src="../../../assets/experiencia.png" style="max-width: 100vw !important; max-height: 100vh !important;">  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Educación</ion-card-subtitle>
    </ion-card-header>
      <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Tipo de estudio</ion-label>
                <ion-select (ionChange)="checkValue($event)" okText="Seleccionar" cancelText="Cancelar"
                  placeholder="Seleccionar">
                  <ion-select-option *ngFor="let item of typeEducation" [value]="item" >
                    {{ item.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
      
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Estado</ion-label>
                <ion-select (ionChange)="estado($event)" okText="Seleccionar" cancelText="Cancelar" placeholder="Seleccionar">
                  <ion-select-option *ngFor="let item of arrEstado" [value]="item">
                    {{ item.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
      
      
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Título/Carrera</ion-label>
                <ion-input [(ngModel)]="education.titulo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Area de estudio</ion-label>
                <ion-select (ionChange)="areaEstudio($event)" okText="Seleccionar" cancelText="Cancelar" placeholder="Seleccionar">
                  <ion-select-option *ngFor="let item of arrAreaEstudio" [value]="item">
                    {{ item.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
      
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Fecha de inicio</ion-label>
                <ion-datetime displayFormat="MMMM YY" min="1989-06-04" max="2004-08-23" value="1994-12-15T13:47:20.789">
                </ion-datetime>
              </ion-item>
            </ion-col>
      
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Fecha de fin</ion-label>
                <ion-datetime displayFormat="MMMM YY" min="1989-06-04" max="2004-08-23" value="1994-12-15T13:47:20.789">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Institución</ion-label>
                <ion-input [(ngModel)]="education.institucion"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="guardarEducacion()">
        <ion-label>Guardar Educacion</ion-label>
        <!-- <ion-icon slot="end" ios="ios-star" md="md-star"></ion-icon>-->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>