<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <!-- <ion-tab-button tab="profile">
      <ion-icon name="profile"></ion-icon>
      <ion-label>Profile</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="students">
        <ion-icon name="body"></ion-icon>
        <ion-label>Alumnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon>
      <ion-label>Empleos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="folder" >
      <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
      <ion-label>Portafolio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="publications">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Publicaciones</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register-user">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>