ion-item{
    //--background: #3880ff;
    --color: #black;
    padding: 10px;
}
ion-button{
    //--background: #062f77;
}

ion-select{
    font-size: 18px;
    padding: 10px;
    margin:20px;
}

a{
    color: #fff;
}