<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let trabajo of trabajos; let i = index">
      <ion-card  (click)="infoJob(trabajo.id_job)">
        <ion-card-header>
          <ion-card-subtitle>
            <span class="text-primary">{{ i + 1 }} </span>
            <span class="source_name">{{ trabajo.users[0].name}}</span>

            

          </ion-card-subtitle>
          <ion-card-title class="ion-text-left">{{ trabajo.desc_short }}</ion-card-title>
        </ion-card-header>
        

        <ion-img src="{{trabajo.users[0].image_company}}" style="height: 160px; width: 100%;"></ion-img>

        
        <ion-card-content>
          <p>{{ trabajo.desc_long }}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>